.subtitle {
    color: #6A6E73;
    font-size: 18px;
    padding-top: 24px;
    font-weight: 400;
}

.subtitle-1 {
    color: #6A6E73;
    font-size: 18px;
    font-weight: 400;
}

.form-title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    padding-top: 16px;
}

.select-width {
    width: 300px;
}

.button-group {
    padding-top: 56px;
}

.breadcrumb {
    padding-bottom: 16px;
}

.alert {
    margin-top: 24px;
}